body{
    background-color: hsl(0, 0%, 25%);
    color: lab(94.25% 0.67 0.23 / 0.774);
    table{
        width: 500px;
    }
    img{
        float: right;
        margin-top: -300px;
        height: 1100px;
    }
    p{
        width: 50%;
        font-size: 19px;
    }
    h1{
        color:rgba(212, 11, 11, 0.952);
        font-size: 70px;
    }
    h2{
        color:rgb(163, 163, 28);
        font-size: 32px;
    }
    li{
        font-size: 20px;
    }
}
.Genos{
    background-color: hsl(0, 0%, 25%);
    color: lab(94.25% 0.67 0.23 / 0.774);
    
    img{
        float: right;
        margin-top: -170px;
        height:     850px;
        margin-right: -200px;
    }
    p{
        width: 40%;
        font-size: 19px;
    }
    h1{
        color:rgba(223, 101, 1, 0.952);
        font-size: 70px;
    }
    h2{
        color:rgb(184, 181, 15);
        font-size: 32px;
    }
    li{
        font-size: 20px;
    }
}
.Garou{
    background-color: hsl(0, 0%, 25%);
    color: lab(94.25% 0.67 0.23 / 0.774);
    
    img{
        float: right;
        margin-top: -300px;
        height: 1000px;
    }
    p{
        width: 50%;
        font-size: 19px;
    }
    h1{
        color:rgba(248, 99, 0, 0.952);
        font-size: 70px;
    }
    h2{
        color:rgb(241, 241, 236);
        font-size: 32px;
    }
    li{
        font-size: 20px;
    }
}
.King{
    background-color: hsl(0, 0%, 25%);
    color: lab(94.25% 0.67 0.23 / 0.774);
    
    img{
        float: right;
        margin-top: -300px;
        height: 1000px;
    }
    p{
        width: 50%;
        font-size: 19px;
    }
    h1{
        color:rgba(206, 2, 2, 0.952);
        font-size: 70px;
    }
    h2{
        color:rgb(207, 177, 3);
        font-size: 32px;
    }
    li{
        font-size: 20px;
    }
}
.Bang{
    background-color: hsl(0, 0%, 25%);
    color: lab(94.25% 0.67 0.23 / 0.774);
    
    img{
        float: right;
        margin-top: -200px;
        height: 800px;
        margin-right: 100px;
    }
    p{
        width: 50%;
        font-size: 19px;
    }
    h1{
        color:rgba(253, 123, 83, 0.952);
        font-size: 70px;
    }
    h2{
        color:rgb(163, 87, 1);
        font-size: 32px;
    }
    li{
        font-size: 20px;
    }
}